.rating>span:hover:before {
    content: "\2605";
    position: absolute;
}

.rating {
    direction: rtl;
    font-size: 20px;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}